@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Serif+JP:wght@300&display=swap');

body{
  background-color: #F9F3F3;
}
p{ 
    margin-top: 10vw;
    margin-bottom: 5vw;
    font-family: Brush Script MT; 
    text-decoration: underline; 
    font-size: 13vw;
    text-align: center;
}
body {background-color: #F9F3F3;}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.createGamePage{
  flex-direction: column;
  display: flex;  
  align-items: center;
}

.createGameReturn{
  margin: 2%;
}

.createGameImage{
  justify-content: center;
  width: 10vw;
}

.createGameInput{
  padding: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.startMainText {
  font-family: 'Kaushan Script', cursive;
  color: #17D930;
  font-size: 25vw;
  text-align: center;
  margin-top: 0vw;
  margin-bottom: 5vw;
}

.startSubText {
  font-family: 'Noto Serif JP', serif;
  color: black;
  font-size: 4vw;
  text-align: center;
  margin: 0vw;
}

.startPageButton {

  height: 18vw;
  width: 60vw;
  font-size: 170%;
  text-align: center;
 
  border: 1vw solid #17D930;
  border-radius: 15vw;
  font-family: 'Noto Serif JP serif';
  box-shadow: 1vw 2vw 3vw #888888;
}

.lobbyInfoPageImage {

  width: 15vw;
  height:15vw;
  object-fit:cover;
  border:0.8vw solid #000000;
  display:block;
  margin-left: auto;
  margin-right: auto;

}

.lobbyInfoPageText {

  text-align: center;

}

.individualChart{
  display: "flex";
  flex-direction: row;
  margin-top: "3vw";
}


.createGameForm{
 
  text-align: center;
 

 
}