@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Serif+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');

body, html{
  background: rgb(134,203,236);
  background: linear-gradient(130deg, rgba(134,203,236,1) 0%, rgba(234,119,242,1) 100%);


  touch-action: none;

}


p{ 
    margin-top: 10vw;
    margin-bottom: 5vw;
    font-family: Brush Script MT; 
    font-size: 13vw;
    text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.createGamePage{
  flex-direction: column;
  display: flex;  
  align-items: center;
}

.createGameReturn{
  margin: 2%;
}

.createGameImage{
  justify-content: center;
  width: 10vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chartPeople{
  width: 80vw;
  margin-left: 10vw;
}

#feedScrollDiv{
  height: 88vh;
  overflow-y: scroll;
  
}

.startMainText {
  font-family: 'Kaushan Script', cursive;
  color: #EEEEEE;
  font-size: 25vw;
  text-align: center;
  margin-top: 0vw;
  margin-bottom: 5vw;
  
}

.startSubText {
  font-family: 'Noto Serif JP', serif;
  color: #EEEEEE;
  font-size: 4vw;
  text-align: center;
  margin: 0vw;
}

.startPageButton {

  height: 18vw;
  width: 65vw;
  font-size: 150%;
  text-align: center;
  
  font-family: 'Merriweather Sans', sans-serif;
  color: #EEEEEE;

  background: rgba(26, 40, 73, 0.3);
  border-radius: 10vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 3px solid rgba(238, 238, 238, 0.5);
}

.lobbyInfoPageImage {

  width: 15vw;
  height:15vw;
  object-fit:cover;
  border: 3px solid rgba(238, 238, 238, 1);
  display:block;
  margin-left: auto;
  margin-right: auto;

}

.lobbyInfoPageText {

  text-align: center;

}

.individualChart{
  display: "flex";
  flex-direction: row;
  margin-top: "3vw";
}


.createGameForm{
 
  text-align: center;
}

.formText{
  margin-bottom: 2vw;
  margin-top: 2vw;
  font-family: 'Merriweather Sans', sans-serif;
  color: #EEEEEE;
  
  font-weight: bold;
  font-size: 5vw;
}

.form-control{
  width: 55vw;
  height: 10vw;
  font-family: 'Merriweather Sans', sans-serif;
  color: #EEEEEE;
  
  font-size: 5vw;
  border: none;
  background-color: transparent;
  
}

#submitButton{

  margin-top: 5vw;
  height: 18vw;
  width: 65vw;
  font-size: 150%;
  text-align: center;
  color: #EEEEEE;
  border: none;

  color: #EEEEEE;
  font-family: 'Merriweather Sans', sans-serif;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 10vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 3px solid rgba(255, 253, 208, 0.5);
}

/*-------------NEW-------------*/


#headers{

  font-family: 'Merriweather Sans', sans-serif;
  color: #EEEEEE;
  
}

.enterText{

  margin: auto;
  margin-top: 3vw;
  width: 75vw;

  background: rgba(26, 40, 73, 0.3);
  border-radius: 10vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 3px solid rgba(238, 238, 238, 0.5);

}

#lobbyText{

  font-family: 'Merriweather Sans', sans-serif;
  color: #EEEEEE;

}


.header{

  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 7vw;
  opacity: 0.9;


}

.topBar{

  background: transparent;
  position: fixed;
  width: 100%;
  font-size: 7vw;
  opacity: 0.9;
  z-index: 100;
  color: #EEEEEE

}

#inLobbyPin{

 
  color: #EEEEEE;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;

}

#inLobbyPinText{

  font-family: 'Merriweather Sans';
  color: #EEEEEE;
  font-size: 9vw;
  margin-top: 15vw;

}

.PFPandUnitsDisplay{

  background: transparent;
  display: flex;
  margin-top: 25vw;
  margin-bottom: 5vw;
}

#lobbyImage{

  margin-top: -5.2vh;
  margin-left: 6vw;
  margin-right: 4vw;
  width: 28vw;
  height: 28vw;
  object-fit: cover;
  border: 1vw solid #EEEEEE;
  border-radius: 50%;

}

#unitsAmount{

  margin-top: -3vw;
  font-family: 'Merriweather Sans';
  font-size: 20vw;
  color: #EEEEEE;
}

#unitsText{

  font-size: 7.5vw;
  margin-top: 0;
  margin-left: 5vw;
  width: 44vw;
  font-family: 'Merriweather Sans';
  color: #EEEEEE;
  align-items: center;
  display: flex;
}

#increase{

width: 50vw;
height: 20vw;
border: 1vw solid #EEEEEE;
font-family: 'Merriweather Sans';

color: #EEEEEE;
font-size: 15vw;
border-radius: 10vw;
margin-left: 6vw;

background: rgba(0, 255, 0, 0.3);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);

}

#decrease{

  font-size: 10vw;
  height: 15vw;
  width: 25vw;
  border-radius: 10vw;
  border: 1vw solid #EEEEEE;
  font-family: 'Merriweather Sans';
  color: #EEEEEE;

  background: rgba(255, 0, 0, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 8vw;

}

.tableHeader{

  text-align: center;
  margin-top: 5vw;

  font-family: 'Merriweather Sans';
  color: #EEEEEE;
  font-size: 5vw;
}

#divUsers{

margin-top: 2vw;
height: 54.5vh;
overflow-y: scroll;

}

.table{

  margin-left: 5vw;
  width: 90vw;
  color: #EEEEEE;
  font-family: 'Merriweather Sans';
  font-size: 5vw;
}

.pages{

 font-family: 'Merriweather Sans';
 margin-top: 2vw;
 margin-left: 2vw;
}

::placeholder{

  color: #EEEEEE;
  
}

#lobbyInfoHolder{

  overflow: scroll;
  height: 74.7vh;

}